/* Styles for the grid to use for cells */
.selectedVertical{
    background: #c77e1f;
    background: #ee6624;;
}
.green {
    background: green;
}

.selectedOnWalkThrough{
    filter: invert(1) contrast(0.8);
}

.selectedHorizontal{
    background: #6acd67;
}

.cell{
    color: var(--distancesColor);
}

.start{
    background: #f85701 !important;
}
.end{
    background: #0022a5 !important;  /* maybe #00a56f;*/
}

.considered{
    background: #ffd68a;
}

.prev{
    background: cornflowerblue;
}

.chose{
    border: 0.32em solid #3de185; /*9px*/
    border-radius: 27px;
}
.from{
    border: 4px solid white;
    background: brown;
}
.roundBorder{ /*.chose but monochrome */
    border: 0.2em solid; /*7px*/
    border-radius: 27px;
}

/*
Using grid to split a table cell like so
           \ text
       text \
thanks to:
 https://www.peterkrautzberger.org/0213/ */
.cellDiag {
    display: grid;
    width: max-content; /*not 100% of parent .cell, as that would shift letters too close to left & right edges*/
    justify-content: space-between;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    border: 1px solid rgba(0,0,0,0); /*transparent border for cosmetic layout purposes (shifts the letters 1px down)*/                                                                  /*%23 is url escaped #*/
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100'><line x1='0' y1='0' x2='100' y2='100' stroke='%23816d48' vector-effect='non-scaling-stroke'/></svg>");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100%;
    box-sizing: border-box;
  }
  
  .cellDiag--topRight {
    grid-column-start: 2;
    text-align: right;
  }
  
  .cellDiag--bottomLeft {
    grid-column-start: 1;
  }

/*dark theme*/
@media (prefers-color-scheme: dark) {
    .cellDiag{
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100'><line x1='0' y1='0' x2='100' y2='100' stroke='green' vector-effect='non-scaling-stroke'/></svg>");
    }
    .considered{
        background: #888; /* #5f5bcc */
    }
    .previously-considered{
        background: #0305831c;
    }
    .green{
        background: #206e2f8c;
    }
    .end{
        background: #00d38e !important;  /* #0022a5; for light theme = nicely legible in light theme, not so in dark theme, similarly to the green color in light theme,   or maybe #00a56f;*/
    }
    .endText{
        color: #00d38e;
    }
    .selectedHorizontal{
        background: #41813f;
    }
    .selectedVertical{
        /* background: #0ecea1d4;
        background: #00d38e;
        background: #00e1976b; #2876b0 */
        background: #30a7ffb8;
    }
    .endCtverecek{
        background: #00d38e;
    }
    .visited:not(.green, .start){
        background: #c77e1fbf;
    }
    .skipped:not(.green, .start){
        background: #4eb54bc2; 
    }
    /*nutne pridat :not(.green, .start), aby to mathchlo specificitu (a prebilo, protoze je pod tim) .visited:not(.green, .start)*/
    .explored:not(.green, .start){
        background: #4eb54bc2; /*#4eb54b*/
    }
    .from{
        border: 4px solid white;
    }
    .exploredText{
        color: #4eb54bc2;
    }
    .pathText{
        color: #008eff; /*#1b90ed*/
    }
    .prev{
        background: #4d72b4;
    }
}